<div class="border-t border-t-gray-300 my-12">
    <div class="flex justify-between mt-12 max-w-screen-xl mx-auto px-8">
        <div class="flex items-center">
            <a href="/">
                <img class="max-w-[250px]" src="{{@site.logo}}" alt="{{@site.title}}" />
            </a>
            <div class="space-y-4 ml-6">
                <span class="text-lg font-semibold font-barlow">Explorando <span class="text-brand-600">autores, cómics y nuevos mundos</span> en cada edición.</span>
                {{> subscribe-form}}
            </div>
        </div>

        <div class="flex space-x-12 font-barlow text-lg">
            <div class="flex flex-col">
                <span class="text-slate-900 font-semibold mb-4">Navegación</span>
                <a class="text-brand-500 hover:underline underline-offset-4" href="#">Archivo</a>
                <a class="text-brand-500 hover:underline underline-offset-4" href="#">Acerca De</a>
                <a class="text-brand-500 hover:underline underline-offset-4" href="#">Creadores</a>
                <a class="text-brand-500 hover:underline underline-offset-4" href="#">Glosario</a>
                <a class="text-brand-500 hover:underline underline-offset-4" href="#">Contacto</a>
            </div>
            <div class="flex flex-col">
                <span class="text-slate-900 font-semibold mb-4">Redes Sociales</span>
                <a class="text-brand-500 hover:underline underline-offset-4" href="#">Archivo</a>
                <a class="text-brand-500 hover:underline underline-offset-4" href="#">Acerca De</a>
                <a class="text-brand-500 hover:underline underline-offset-4" href="#">Creadores</a>
                <a class="text-brand-500 hover:underline underline-offset-4" href="#">Glosario</a>
                <a class="text-brand-500 hover:underline underline-offset-4" href="#">Contacto</a>
            </div>
        </div>
    </div>
</div>