{{#foreach navigation}}
    <a
        class="mx-4 text-lg font-semibold text-center font-barlow text-brand-500 hover:underline decoration-2 underline-offset-4"
        href=" {{url absolute="true"}}"
    >
        {{label}}
    </a>
{{/foreach}}