{{!< default}}
{{#contentFor "title"}}{{tag.name}}{{/contentFor}}
<div class="flex flex-col max-w-screen-xl px-8 mx-auto my-12">
    {{#tag}}
        <h1 class="mb-12 text-4xl font-black uppercase heading font-barlow">Etiqueta: <span class="text-brand-500">#{{name}}</span></h1>
    {{/tag}}
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
        {{#foreach posts}}
            {{> card}}
        {{/foreach}}
    </div>
</div>