@tailwind base;
@tailwind components;
@tailwind utilities;

/*

This is a development CSS file that is compiled to a minified
production stylesheet in assets/built/screen.css using: npm run dev

*/

.form-wrapper .loader,
.form-wrapper .success {
    display: none;
}

.form-wrapper .loader .icon {
    width: 25px;
    height: 25px;
}

.form-wrapper.loading .default,
.form-wrapper.success .default,
.form-wrapper.success .loader {
    display: none;
}

.form-wrapper.loading .loader {
    display: flex;
    align-items: center;
}

.form-wrapper.success .success {
    display: flex;
    align-items: center;
}

.post-content {
    @apply font-merriweather;
}

.post-content p {
    @apply leading-relaxed text-justify;
}

.post-content h2 {
    @apply my-6 text-4xl leading-relaxed font-barlow font-black;
}

.post-content h3 {
    @apply my-6 text-3xl leading-relaxed font-barlow font-black;
}

.post-content h4 {
    @apply my-6 text-2xl leading-relaxed font-barlow font-black;
}

.post-content p a {
    @apply hover:bg-brand-500 p-1 decoration-2 font-black hover:text-secondary-50 text-brand-500 underline hover:no-underline;
}

.post-content blockquote {
    @apply my-6 py-1 px-6 border-l-4 border-l-brand-600 leading-loose italic;
}

.post-content hr {
    @apply my-12;
}

.post-content ul {
    @apply my-6 leading-relaxed;
}

.post-content li {
    @apply mb-1;
}

.post-content figcaption {
    @apply text-base text-center font-semibold font-barlow text-slate-400;
}

.post-sneak-peek {
    position: relative;
}

.post-sneak-peek.fading:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 80%;
    background: linear-gradient(transparent, white 85%);
}

.gh-toc > .toc-list {
    position: relative;
    @apply text-xl;
}

.toc-list {
    overflow: hidden;
    list-style: none;
    @apply font-barlow;
}

.toc-list li {
    @apply my-1 text-xl;
}

.gh-toc .is-active-link {
    @apply text-brand-500 font-semibold;
}

.gh-toc .is-active-link::before {
    background-color: var(--ghost-accent-color);
}

.kg-card {
    @apply my-4;
}

.kg-bookmark-container {
    @apply font-barlow rounded-xl my-4;
}

a.kg-bookmark-container {
    @apply flex flex-row rounded-2xl !important;
}

.kg-bookmark-content {
    @apply w-2/3 p-4;
}

.kg-bookmark-title {
    @apply text-lg font-barlow font-semibold !important;
}

.kg-bookmark-description {
    @apply mt-2 overflow-hidden text-base !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.kg-bookmark-metadata {
    @apply flex flex-row items-center mt-4 overflow-hidden text-ellipsis font-barlow text-base !important;
}

.kg-bookmark-icon {
    @apply h-6 w-6 mr-2;
}

.kg-bookmark-publisher::before {
    content: "•";
    margin: 0 0.5em;
}

.kg-bookmark-thumbnail {
    @apply flex m-1 w-1/3 h-auto;
}

.kg-bookmark-thumbnail img {
    @apply object-cover rounded-xl !important;
}

.kg-file-card-container {
    @apply p-4 shadow-xl rounded-xl border-slate-200 !important;
}

.kg-file-card-icon:before {
    background: none !important;
}

.kg-file-card-icon {
    @apply bg-brand-600 rounded-xl;
}

.kg-file-card-icon svg {
    color: #fff !important;
}

.kg-file-card-title {
    @apply font-barlow;
}

.kg-file-card-caption {
    @apply font-barlow py-2;
}

.kg-file-card-metadata {
    @apply font-barlow;
}

.kg-file-card-contents {
    @apply text-gray-900;
}

.kg-header-card.kg-size-small {
    @apply md:py-0 border bg-transparent border-brand-600 !important;
    box-shadow: 3px 3px #316d6c !important;
    min-height: 20vh !important;
}

.kg-header-card-header {
    @apply text-2xl text-black !important;
}

.kg-header-card-subheader {
    @apply text-lg text-black font-barlow !important;
}

.kg-header-card-button {
    @apply text-lg bg-brand-500 text-white font-barlow !important;
}

.kg-image-card {
    @apply flex flex-col items-center sm:my-8 md:my-12;
}

.kg-image-card figcaption {
    @apply text-brand-500 mt-2 font-barlow text-base;
}

.kg-gallery-card {
    @apply my-12;
}

.kg-width-wide {
    position: relative;
    width: 75vw;
    min-width: 100%;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    transform: translateX(calc(50vw - 50%));
}

.kg-width-wide img {
    max-width: 85vw;
}

.kg-width-full img {
    max-width: 100vw;
}

.kg-callout-card {
    @apply rounded-xl !important;
}

.kg-callout-emoji {
    @apply leading-relaxed !important;
}

.kg-callout-text {
    @apply leading-relaxed font-barlow text-lg !important;
}

.kg-callout-text a {
    @apply underline decoration-2 decoration-brand-500;
}

.kg-button-card a.kg-btn {
    @apply text-lg font-barlow font-black rounded-xl !important;
}

.kg-button-card a.kg-btn:visited {
    box-shadow: 3px 3px #42a09e;
}

.kg-button-card a.kg-btn:focus {
    box-shadow: 3px 3px #42a09e;
}

.kg-button-card a.kg-btn:active {
    box-shadow: 2px 2px #42a09e;
}

.kg-product-card h4.kg-product-card-title {
    @apply font-barlow !important;
}

.kg-product-card-image {
    @apply rounded-xl;
}

.kg-product-card .kg-product-card-description p {
    @apply font-barlow leading-relaxed !important;
}

.kg-product-card a.kg-product-card-btn-accent {
    @apply font-barlow text-secondary-50 !important;
}

.kg-product-card-container {
    @apply rounded-xl shadow-xl border !important;
}

.gh-post-upgrade-cta-content p a {
    @apply text-white hover:bg-none hover:underline hover:text-white !important;
}

.kg-embed-card {
    @apply flex mx-auto justify-center;
}

.about a {
    @apply underline decoration-2 decoration-brand-500 font-semibold;
}
