@tailwind base;
@tailwind components;
@tailwind utilities;

/*

This is a development CSS file that is compiled to a minified
production stylesheet in assets/built/screen.css using: npm run dev

*/

.form-wrapper .loader,
.form-wrapper .success {
    display: none;
}

.form-wrapper .loader .icon {
    width: 25px;
    height: 25px;
}

.form-wrapper.loading .default,
.form-wrapper.success .default,
.form-wrapper.success .loader {
    display: none;
}

.form-wrapper.loading .loader {
    display: flex;
    align-items: center;
}

.form-wrapper.success .success {
    display: flex;
    align-items: center;
}
